#############################################
# Crowd Monitor - Example environment config #
#############################################

# Camera
CM_CAMERA_INDEX=0

# Risk thresholds (people count)
CM_RISK_MEDIUM=2
CM_RISK_HIGH=4

# Alerting
CM_EMAIL_COOLDOWN_SECONDS=60

# SMTP (Gmail example)
CM_SMTP_HOST=smtp.gmail.com
CM_SMTP_PORT=587
CM_EMAIL_SENDER=safetycrowd@gmail.com
CM_EMAIL_PASSWORD=YOUR_GMAIL_APP_PASSWORD_HERE

# Comma-separated list
CM_EMAIL_RECIPIENTS=mayankchandel830@gmail.com,ayushgr2811@gmail.com,n.hemunegi11@gmail.com,ayushnainwal135@gmail.com

# Persistence
CM_DB_PATH=data/crowd_monitor.sqlite3
CM_SAMPLE_SECONDS=10
